{% include base_path %}

<meta charset="utf-8">

{% include seo.html %}

<link href="{% if site.atom_feed.path %}{{ site.atom_feed.path }}{% else %}{{ base_path }}/feed.xml{% endif %}" type="application/atom+xml" rel="alternate" title="{{ site.title }} Feed">

<!-- http://t.co/dKP3o1e -->
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<script>
  document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + ' js ';
</script>

<!-- For all browsers -->
<link rel="stylesheet" href="{{ base_path }}/assets/css/main.css">

<meta http-equiv="cleartype" content="on">

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Person",
  "name": "Ihab Tabbara",
  "url": "https://tabz23.github.io",
  "email": "i.k.tabbara@wustl.edu",
  "jobTitle": "PhD Student in Computer Science and Engineering",
  "affiliation": {
    "@type": "Organization",
    "name": "Washington University in St. Louis"
  },
  "alumniOf": {
    "@type": "Organization",
    "name": "American University of Beirut"
  },
  "sameAs": [
    "https://scholar.google.com/citations?user=81Z3yzoAAAAJ&hl=en",
    "https://www.linkedin.com/in/ihab-tabbara1",
    "https://arxiv.org/search/?searchtype=author&query=Tabbara+I"
  ],
  "knowsAbout": ["Machine Learning", "Formal Methods", "Safe Control", "Autonomous Systems", "Control Barrier Functions"]
}
</script>